<h4 mat-dialog-title>Add EMER</h4>
<form [formGroup]="emerForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>{{'EMERNumber' | translate}}</mat-label>
          <input formControlName="emerNumber" type="text" matInput placeholder="{{'EMERNumber' | translate}}" required />
          <mat-error *ngIf="emerForm.get('emerNumber')?.touched && emerForm.get('emerNumber')?.invalid">
            EMER number is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>{{'Subject' | translate}}</mat-label>
          <input formControlName="subject" type="text" matInput placeholder="{{'Subject' | translate}}" required />
          <mat-error *ngIf="emerForm.get('subject')?.touched && emerForm.get('subject')?.invalid">
            Subject is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <!-- <mat-form-field>
          <mat-label>{{'SubFunction' | translate}}</mat-label>
          <input formControlName="subFunction" type="text" matInput placeholder="{{'SubFunction' | translate}}" required />
          <mat-error *ngIf="emerForm.get('subFunction')?.touched && emerForm.get('subFunction')?.invalid">
            Sub Function number is required
          </mat-error>
        </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>SubFunction</mat-label>
          <mat-select formControlName="subFunction" panelClass="custom-dropdown" placeholder="SubFunction" (selectionChange)="getSubFunctionField($event.value)">
            <mat-option [value]="'Data summary'">Data summary</mat-option>
            <mat-option [value]="'Instructions to user maintenance'">Instructions to user maintenance</mat-option>
            <mat-option [value]="'Technical description'">Technical description</mat-option>
            <mat-option [value]="'Light repairs'">Light repairs</mat-option>
            <mat-option [value]="'Field and base repairs'">Field and base repairs</mat-option>
            <mat-option [value]="'Scales'">Scales</mat-option>
            <mat-option [value]="'Permissiole repair schedule'">Permissiole repair schedule</mat-option>
            <mat-option [value]="'Modification instructions'">Modification instructions</mat-option>
            <mat-option [value]="'Inspection std and condemnation limits'">Inspection std and condemnation limits</mat-option>
            <mat-option [value]="'Misc instructions'">Misc instructions</mat-option>
          </mat-select>
          <mat-error *ngIf="emerForm.get('subFunction')?.touched && emerForm.get('subFunction')?.hasError('required')">
            Sub Function is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-4"
        *ngIf="subNarrowFunctionDropdown.length > 0">
        <mat-form-field appearance="fill">
          <mat-label>Sub Function Category</mat-label>
          <mat-select [multiple]="false" formControlName="wingId" panelClass="custom-dropdown" placeholder="Sub Function Category">
            <mat-option *ngFor="let sb of subNarrowFunctionDropdown" [value]="sb">
              {{ sb }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div
        [ngClass]="{'col-md-4': subNarrowFunctionDropdown.length > 0, 'col-md-6': subNarrowFunctionDropdown.length === 0}">
        <mat-form-field appearance="fill">
          <mat-label>Wing</mat-label>
          <mat-select [multiple]="false" formControlName="wingId" (selectionChange)="getCategory($event.value)" panelClass="custom-dropdown" placeholder="Wing">
            <mat-option *ngFor="let wing of wing" [value]="wing.id">
              {{ wing.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="emerForm.get('wing')?.touched && emerForm.get('wing')?.invalid">
            Wing is required
          </mat-error>
        </mat-form-field>
      </div>

      <div
        [ngClass]="{'col-md-4': subNarrowFunctionDropdown.length > 0, 'col-md-6': subNarrowFunctionDropdown.length === 0}">
        <mat-form-field appearance="fill">
          <mat-label>{{'Category'|translate}}</mat-label>
          <mat-select [multiple]="false" formControlName="categoryId" (selectionChange)="getSubCategory($event.value)"
            panelClass="custom-dropdown" placeholder="{{'Category'|translate}}" required>
            <mat-option *ngFor="let category of categoryList" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="emerForm.get('categoryId')?.touched && emerForm.get('categoryId')?.invalid">
            Category is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>{{"SubCategory"|translate}}</mat-label>
          <mat-select [multiple]="false" formControlName="subCategoryId" panelClass="custom-dropdown"
            (selectionChange)="getEqpt($event.value)" placeholder="{{'SubCategory'|translate}}" required>
            <mat-option *ngFor="let subCategory of subCategoryList" [value]="subCategory.id">
              {{ subCategory.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="emerForm.get('subCategoryId')?.touched && emerForm.get('subCategoryId')?.invalid">
            Sub Category is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>{{'EQPT'|translate}}</mat-label>
          <mat-select [multiple]="false" formControlName="eqpt" panelClass="custom-dropdown" placeholder="{{'EQPT'|translate}}"
            required>
            <mat-option *ngFor="let eqpt of eqptList" [value]="eqpt.name">
              {{ eqpt.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="emerForm.get('eqpt')?.touched && emerForm.get('eqpt')?.invalid">
            EQPT number is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>{{'Remarks'|translate}}</mat-label>
          <textarea matInput formControlName="remarks" placeholder="{{'Remarks'|translate}}"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button mat-raised-button type="button" (click)="fileInput.click()" class="input-btn">Select File</button>
        <input #fileInput type="file" style="display:none" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx, .xls, .xlsx" />
      </div>
      <br>
      <!-- Display file name and file size -->
      <div *ngIf="fileName && fileSizeFormatted">
        <p><strong>File Name:</strong> {{ fileName }}</p>
        <p><strong>File Size:</strong> {{ fileSizeFormatted }}</p>
      </div>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" class="btn btn-sm btn-danger" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-sm btn-warning" (click)="close()">Close</button>
    <button type="submit" class="btn btn-sm btn-primary" >Save</button>
  </mat-dialog-actions>
</form>
