<mat-card>
  <mat-card-header>Policy List</mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <button class="btn btn-link" (click)="openDailog()">+ Add Policy</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Policy Letter & Misc Type</mat-label>
          <mat-select  panelClass="custom-dropdown" placeholder="Policy letter & Misc type">
            <mat-option [value]="'Technical Manuals'">Technical Manuals</mat-option>
            <mat-option [value]="'Policy'">Policy</mat-option>
            <mat-option [value]="'Advisories'">Advisories</mat-option>
            <mat-option [value]="'EP Contract'">EP Contract</mat-option>
            <mat-option [value]="'ISPL'">ISPL</mat-option>
            <mat-option [value]="'Defect Report'">Defect Report</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Wing</mat-label>
          <mat-select [multiple]="false" (selectionChange)="getCategory($event.value)" [(ngModel)]="filterModel.wingId" panelClass="custom-dropdown" placeholder="Wing">
            <mat-option *ngFor="let wing of wingList" [value]="wing.id">
              {{ wing.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select [multiple]="false"
            panelClass="custom-dropdown" placeholder="Category" required>
            <mat-option *ngFor="let category of categoryList" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <app-table *ngIf="policyList.length > 0" [rowData]="policyList" [tablePaginationSettings]="tablePaginationSettings"
      [enableCheckbox]="true" [isRowBackgroundColor]="true" [isRefresh]="isRefresh" [allowMultiSelect]="true"
      (edit)="edit($event)" (view)="view($event)" [sqColumnDefinition]="columns" (getFileId)="getFileId($event)"
      >
    </app-table>
  </mat-card-content>
</mat-card>
