<mat-toolbar   class="app-header">
    <mat-toolbar-row>
      <div class="contents">
        <div fxShow="true">
            <button mat-icon-button (click)="toggleSideBar()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <span class="example-spacer">
        </span>
        <app-language style="height: 30px;display: inherit;"></app-language>
        <button mat-button  (click)="onLoggedout()">
          <i class="fa fa-sign-out btn-white" aria-hidden="true"></i>
         <span class="btn-white"> Sign out</span>
      </button>
      </div>
    </mat-toolbar-row>

</mat-toolbar>
